<div class="container mx-auto px-4 py-8">
	<h1 class="text-3xl font-bold text-gray-800 mb-8">Task List</h1>
	<button
		(click)="openModal()"
		class="mb-6 px-6 py-3 bg-green-500 text-white rounded-md hover:bg-green-600 transition-colors flex items-center cursor-pointer"
	>
		<span class="mr-2">Create New Task</span>
		<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
			<path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
		</svg>
	</button>

	<app-task-modal [isOpen]="showModal" (close)="closeModal()" (save)="createTask($event)"></app-task-modal>

	<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
		<task-column class="bg-gray-100" title="Pending">
			<task-drop-list
				cdkDropList
				#pendingList="cdkDropList"
				[listData]="store.pendingTasks()"
				[cdkDropListData]="store.pendingTasks()"
				[cdkDropListConnectedTo]="[doingList, doneList]"
				(cdkDropListDropped)="drop($event)"
				class="min-h-[200px] block h-full"
				id="{{ taskStatusEnum.PENDING }}"
			></task-drop-list>
		</task-column>

		<task-column class="bg-yellow-50" title="Doing">
			<task-drop-list
				cdkDropList
				#doingList="cdkDropList"
				[listData]="store.doingTasks()"
				[cdkDropListData]="store.doingTasks()"
				[cdkDropListConnectedTo]="[pendingList, doneList]"
				(cdkDropListDropped)="drop($event)"
				class="min-h-[200px] block h-full"
				id="{{ taskStatusEnum.DOING }}"
			></task-drop-list>
		</task-column>

		<task-column class="bg-green-50" title="Done">
			<task-drop-list
				cdkDropList
				#doneList="cdkDropList"
				[listData]="store.doneTasks()"
				[cdkDropListData]="store.doneTasks()"
				[cdkDropListConnectedTo]="[pendingList, doingList]"
				(cdkDropListDropped)="drop($event)"
				class="min-h-[200px] block h-full"
				id="{{ taskStatusEnum.DONE }}"
			></task-drop-list>
		</task-column>
	</div>
</div>
