<div class="container mx-auto px-4 py-8">
	<h1 class="text-3xl font-bold text-gray-800 mb-8">Task List</h1>
	<button
		(click)="openModal()"
		class="mb-6 px-6 py-3 bg-green-500 text-white rounded-md hover:bg-green-600 transition-colors flex items-center cursor-pointer"
	>
		<span class="mr-2">Create New Task</span>
		<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
			<path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
		</svg>
	</button>

	<app-task-modal [isOpen]="showModal" (close)="closeModal()" (save)="createTask($event)"></app-task-modal>

	<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
		<div class="bg-gray-100 p-4 rounded-lg">
			<h2 class="text-xl font-bold mb-4">Pending</h2>
			<div
				cdkDropList
				#pendingList="cdkDropList"
				[cdkDropListData]="store.pendingTasks()"
				[cdkDropListConnectedTo]="[doingList, doneList]"
				(cdkDropListDropped)="drop($event)"
				class="min-h-[200px] h-full"
				id="{{ taskStatusEnum.PENDING }}"
			>
				<div *ngFor="let task of store.pendingTasks()" [id]="task.id" cdkDrag class="bg-white rounded-lg shadow-md p-6 mb-4 cursor-move">
					<div class="flex justify-between items-center">
						<h3 class="text-xl font-semibold text-gray-700">{{ task.title }}</h3>
						<button type="button" class="text-red-400 hover:text-red-500 cursor-pointer" (click)="deleteTask(task.id)">
							<span class="sr-only">Close</span>
							<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
					</div>
					<p class="mt-3 text-gray-600">{{ task.description }}</p>
				</div>
			</div>
		</div>

		<div class="bg-yellow-50 p-4 rounded-lg">
			<h2 class="text-xl font-bold mb-4">Doing</h2>
			<div
				cdkDropList
				#doingList="cdkDropList"
				[cdkDropListData]="store.doingTasks()"
				[cdkDropListConnectedTo]="[pendingList, doneList]"
				(cdkDropListDropped)="drop($event)"
				class="min-h-[200px] h-full"
				id="{{ taskStatusEnum.DOING }}"
			>
				<div *ngFor="let task of store.doingTasks()" cdkDrag class="bg-white rounded-lg shadow-md p-6 mb-4 cursor-move">
					<div class="flex justify-between items-center">
						<h3 class="text-xl font-semibold text-gray-700">{{ task.title }}</h3>
						<button type="button" class="text-red-400 hover:text-red-500 cursor-pointer" (click)="deleteTask(task.id)">
							<span class="sr-only">Close</span>
							<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
					</div>
					<p class="mt-3 text-gray-600">{{ task.description }}</p>
				</div>
			</div>
		</div>

		<div class="bg-green-50 p-4 rounded-lg">
			<h2 class="text-xl font-bold mb-4">Done</h2>
			<div
				cdkDropList
				#doneList="cdkDropList"
				[cdkDropListData]="store.doneTasks()"
				[cdkDropListConnectedTo]="[pendingList, doingList]"
				(cdkDropListDropped)="drop($event)"
				class="min-h-[200px] h-full"
				id="{{ taskStatusEnum.DONE }}"
			>
				<div *ngFor="let task of store.doneTasks()" cdkDrag class="bg-white rounded-lg shadow-md p-6 mb-4 cursor-move">
					<div class="flex justify-between items-center">
						<h3 class="text-xl font-semibold text-gray-700">{{ task.title }}</h3>
						<button type="button" class="text-red-400 hover:text-red-500 cursor-pointer" (click)="deleteTask(task.id)">
							<span class="sr-only">Close</span>
							<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
					</div>
					<p class="mt-3 text-gray-600">{{ task.description }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
